body {
    overflow-x: hidden;
    color: #F5FBF2;
    font-family: 'Work Sans';
    background: #1C121F;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 36px;
}

a,
button {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 1360px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
